**.swp
**.vim
**.bbl
**.log
**._log
**.toc
**.aux
**.blg
**.log
**.out
**.graphml
**.fls
**.fdb_latexmk
**.gz
other_peoples_theses/*
misc/amys-corrections.docx
misc/Appointment of Research Degree Examiners form.docx
misc/comments-to-david-asperos-corrections.md
misc/philip-comments-2020-04-09.pdf
misc/turnitin_report_trial_submission.pdf
misc/part2-summary.tex
misc/part2-summary.pdf
misc/PGR_submission_nielsen_dan_1638518_david_aspero_corrections.pdf
